/*
 *  Colors
 */

.blue {
  fill: fb-blue;
}

.lime {
  fill: fb-lime;
}

.lavender {
  fill: fb-lavender;
}

.lightgray {
  fill: fb-light-gray;
}

.slate {
  fill: fb-slate;
}

.cyan {
  fill: fb-cyan;
}

.indigo {
  fill: fb-indigo;
}

.peach {
  fill: fb-peach;
}

.red {
  fill: fb-red;
}

.orange {
  fill: fb-orange;
}

.down {
  opacity: 0.6;
}

.transparent {
  opacity: 0;
}

/*
 *  Text
 */

.largeText {
  font-family: "System-Regular";
  font-weight: regular;
  font-size: 50;
  text-anchor: middle;
  fill: fb-white;
}

.smallText {
  font-family: "System-Regular";
  font-weight: regular;
  font-size: 30;
  text-anchor: middle;
  fill: fb-white;
}

/*
 *  Screen 1
 */

#numberPad .numberButton {
  width: 33%-3;
  height: 25%-3;
  opacity: 0.8;
}

#numberPad .numberButtonRect {
  width: 33%-3;
  height: 25%-3;
}

#numberPad .operatorButton {
  width: 33%-3;
  height: 25%-3;
  opacity: 0.8;
}

#numberPad .operatorButtonRect {
  width: 33%-3;
  height: 25%-3;
}

/*
 *  Screen 2
 */

#operatorPad .operatorButton {
  width: 50%-3;
  height: 25%-3;
  opacity: 0.8;
}

#operatorPad .operatorButtonRect {
  width: 50%-3;
  height: 25%-3;
}

#operatorPad .clearButton {
  width: 100%-3;
  height: 25%-3;
  opacity: 0.8;
}

#operatorPad .clearButtonRect {
  width: 100%-3;
  height: 25%-3;
}

#operatorPad #resultRect {
  width: 100%-3;
  height: 25%-3;
  opacity: 0;
}

#operatorPad .resultText {
  text-anchor: end;
}
